body {
    text-align: center;
}

#title {
    background-color: black;
    color: white;
    padding: 10px;
}

#selector {
    width: 40%;
    text-align: center;
    margin: 20px auto;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
              0 4px 6px -4px rgba(0, 0, 0, 0.1);
    justify-content: center;
    gap: 20px;
}

.humanBtn {
    margin: 20px;
    padding: 5px;
}